<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/reset.css" />
		<script src="/js/modals.js" defer></script>
		<script>
			// Helper function
			let domReady = (cb) => {
				document.readyState === "interactive" || document.readyState === "complete"
					? cb()
					: document.addEventListener("DOMContentLoaded", cb);
			};

			domReady(() => {
				document.body.style.visibility = "visible";

				const root = document.querySelector(":root");
				const wrapper = document.querySelector(".wrapper");

				const resizeObserver = new ResizeObserver((entries) => {
					const width = entries[0].contentRect.width;
					root.style.setProperty("--dialog-parent-wrapper-width", `${width}px`);
				});

				resizeObserver.observe(wrapper);
			});
		</script>
	</head>
	<noscript
		><style>
			body {
				visibility: visible !important;
			}
		</style></noscript
	>
	<body style="visibility: hidden">
		<script>
			0;
		</script>

		<div class="wrapper">
			<!-- Modals -->
			<%- include('../modals/delete-template.ejs') %><!-- Modals -->
			<%- include('../modals/create-template.ejs') %><!-- Modals -->
			<%- include('../modals/update-template.ejs') %><!-- Modals -->
			<%- include('../modals/preview-template.ejs') %><!-- Modals -->

			<%- include('../partials/header.ejs') %>
			<main class="content flow"><%- body %></main>
		</div>
	</body>
</html>
