<h1 class="fs:xl"><%= template.name %></h1>

<form id="template" action="/generate?templateId=<%= template.id %>" method="post" class="flow">
	<div class="flow fields">
		<label class="fw:medium" for="to">Who are you sending this to?</label>
		<div class="cluster">
			<input type="email" id="to" name="to" value="<%= template.to %>" />
			<button id="ccFieldBtn" type="button" onclick="toggleCcField()">Cc</button>
			<button id="bccFieldBtn" type="button" onclick="toggleBccField()">Bcc</button>
		</div>
		<div id="ccInputField" style="display: none" class="stack gap:-1">
			<label class="fw:medium" for="cc"> Who else should be copied on this email? </label>
			<input type="email" id="cc" name="cc" value="<%= template.cc %>" />
		</div>

		<div id="bccInputField" style="display: none" class="stack gap:-1">
			<label class="fw:medium" for="bcc"> Who would you like to blind copy on this email? </label>
			<input type="email" id="bcc" name="bcc" value="<%= template.bcc %>" />
		</div>
	</div>
	<hr />

	<h2 class="fs:lg fw:medium mb:3">Dynamic Email Fields</h2>

	<% if (!template.fields.length) { %>
	<p>No dynamic fields available.</p>
	<% } %>
	<!--  -->
	<div id="dynamicFields" class="flow">
		<% template.fields.forEach(field => { %>
		<div class="stack fields">
			<label class="fw:medium" for="<%= field.label %>"><%= field.label %></label>
			<input
				type="<%= field.type %>"
				id="<%= field.id %>"
				name="<%= field.id %>"
				value="<%= field.value %>"
				required
			/>
		</div>
		<% }) %>
	</div>

	<br />

	<div class="repel mt:5">
		<button type="button" onclick="openPreviewDialog(`<%= template.subject %>`, `<%= template.body %>`)">
			Preview Email 👀
		</button>
		<button class="primary" type="submit">Send Email</button>
	</div>
</form>

<script>
	const ccFieldBtn = document.getElementById("ccFieldBtn");
	const bccFieldBtn = document.getElementById("bccFieldBtn");

	const ccInputField = document.getElementById("ccInputField");
	const bccInputField = document.getElementById("bccInputField");

	function toggleCcField() {
		ccFieldBtn.style.backgroundColor = ccInputField.style.display === "none" ? "var(--bg-mute)" : "var(--bg-main)";
		ccInputField.style.display = ccInputField.style.display === "none" ? "flex" : "none";
		ccFieldBtn.innerText = ccInputField.style.display === "none" ? "Cc" : "Hide Cc";
	}

	function toggleBccField() {
		bccFieldBtn.style.backgroundColor =
			bccInputField.style.display === "none" ? "var(--bg-mute)" : "var(--bg-main)";
		bccInputField.style.display = bccInputField.style.display === "none" ? "flex" : "none";
		bccFieldBtn.innerText = bccInputField.style.display === "none" ? "Bcc" : "Hide Bcc";
	}
</script>

<style>
	h2 {
		text-decoration: underline;
		text-decoration-color: var(--clr-500);
	}

	.fields {
		margin-inline: 0.15rem;
	}
</style>
